#xpather {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000000;
	display: none;
	box-sizing: border-box;
	padding: 0 246px 0 52px;
	width: 100%;
	height: 50px;
	border-bottom: 5px solid #111;
	background: #000 url('chrome-extension://__MSG_@@extension_id__/img/search.png') 12px 11px no-repeat;
	box-shadow: 0 4px 12px rgba(16, 16, 16, .25);
	text-shadow: none;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

#xpather-form {
	margin: 0;
	padding: 0;
}

#xpather-xpath, #xpather-xpath:focus, #xpather-xpath:active, #xpather-xpath:hover {
	display: inline-block;
	float: left;
	box-sizing: border-box;
	margin: 0;
	padding: 6px 0 2px;
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	height: 44px;
	outline: 0;
	border: 0;
	background: #000 !important;
	box-shadow: none;
	color: #fff !important;
	text-transform: none;
	text-shadow: none;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	font-family: 'Droid Sans Mono', monospace;
	line-height: 42px;
}

#xpather-xpath::-webkit-input-placeholder {
	color: #666;
	line-height: 42px;
}

#xpather-result {
	position: absolute;
	top: 0;
	right: 58px;
	color: #fff;
	font-weight: 700;
	font-size: 24px;
	line-height: 50px;
}

#xpather-result.xpather-no-results {
	color: #ff4630;
}

#xpather-sidebar-toggler {
	position: absolute;
	top: 12px;
	right: 16px;
	width: 26px;
	height: 26px;
	background: url('chrome-extension://__MSG_@@extension_id__/img/sidebar-toggler.png') 0 0 no-repeat;
	cursor: pointer;
}

.xpather-sidebar-toggler-active {
	background-position: 0 -26px !important;
}

#xpather-sidebar {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999999;
	display: none;
	overflow: hidden;
	box-sizing: border-box;
	padding-bottom: 50px;
	width: 20%;
	height: 100%;
	background: rgb(16, 16, 16);
	text-shadow: none;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
	text-rendering: optimizeLegibility;
  	-webkit-hyphens: auto;
  	word-wrap: break-word
}

#xpather-sidebar-entries {
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
	width: 97.5%;
	height: 100%;
}

#xpather-sidebar-spacer {
	display: block;
	width: 100%;
	height: 50px;
}

.xpather-sidebar-entry {
	position: relative;
	clear: both;
	overflow-x: hidden;
	overflow-y: hidden;
	box-sizing: border-box;
	margin: 0 2%;
	padding: 8px 18px 8px 7px;
	min-height: 36px;
	max-height: 88px;
	width: 96%;
	border-bottom: 2px solid #222;
	text-align: justify;
	text-transform: none;
	text-overflow: ellipsis;
	word-wrap: break-word;
	font-size: 12px;
	line-height: 17px;
	cursor: pointer;
	transition: height 500ms;
}

.xpather-sidebar-entry:hover {
	overflow-y: auto;
	max-height: 86%;
	background: none;
	color: #0cacf9 !important;
}

.xpather-sidebar-entry:hover .xpather-sidebar-entry-fade {
	display: none;
}

.xpather-sidebar-entry-fade {
	position: absolute;
	bottom: 0;
	z-index: 2;
	display: block;
	width: 100%;
	height: 24px;
	background: linear-gradient(transparent 0%, rgb(16, 16, 16) 100%);
	transition: display 300ms;
}

.xpather-sidebar-entry span {
	position: relative;
	z-index: 2;
}

.xpather-sidebar-entry:nth-child(odd) {
	color: #ccc;
}

.xpather-sidebar-entry:nth-child(even) {
	color: #999;
}

.xpather-sidebar-entry:last-child {
	margin-bottom: 16px;
}

.xpather-sidebar-entry-info {
	color: #555 !important;
}

.xpather-sidebar-entry-attribute {
	cursor: default;
}

.xpather-sidebar-entry-count {
	position: absolute;
	right: 0;
	bottom: 7px;
	color: #222;
	font-weight: 700;
	font-size: 26px;
	line-height: 23px;
}

.xpather-highlight, .xpather-highlight-with-sepia, .xpather-text-hightlight {
	z-index: 99999;
	border-bottom: 1px solid rgb(170, 130, 10);
	background-color: rgba(237, 194, 20, .25);
	text-shadow: none;
}

.xpath-important-highlight,
img.xpather-highlight {
	-webkit-animation-name: xpatherBlink;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

.xpath-important-highlight {
	border-bottom-color: rgb(185, 55, 37);
	background-color: rgba(237, 55, 33, .35);
}

.xpather-position-fix {
	top: 50px !important;
}

.xpather-on {
	position: relative;
	top: 50px;
}

#xpather-sidebar ::-webkit-scrollbar {
	width: 7px;
}

#xpather-sidebar ::-webkit-scrollbar-track,
#xpather-sidebar ::-webkit-scrollbar-corner {
	border-radius: 10px;
	background-color: #000;
}

#xpather-sidebar ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #333;
}

#xpather-sidebar ::-webkit-scrollbar-button {
	display: none;
}

@-webkit-keyframes xpatherBlink {
	0% {
		opacity: 1.0;
	}
	50% {
		opacity: 0.0;
	}
	100% {
		opacity: 1.0;
	}
}